.footer-container {
  background-color: rgba(235, 235, 235, 0.95);
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;

  .footer-image {
    height: 35px;
    width: 35px;
    margin: 10px;
    background-color: transparent;

    // &:hover,
    // &:focus {
    //   background-color: $light-blue;
    //   color: $blue;

    // }
  }

  .footer-item {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $light-blue;
    }
  }
}
