#home {
  display: flex;
  flex-direction: column;
  align-items: center;

  #profile-pic {
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 7px;
    background-color: $tan;

    &:hover,
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
}

.home-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $break-for-md) {
    flex-direction: row;
  }

  > div {
    padding: 0 15px;
  }

  #about-me {
    max-width: 450px;
    // padding: 0 15px;
  }

  #contact-me {
    width: 100%;
    @media (min-width: $break-for-md) {
      max-width: 150px;
    }
  }

  li {
    display: inline;
    margin-right: 10px;
    @media (min-width: $break-for-md) {
      margin: 5px 0;
      display: block;
    }

    a {
      display: flex;
      align-items: center;

      svg {
        padding-right: 5px;
      }
    }
  }
}
