.nav-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    li {
      display: flex;

      a {
        display: flex;
        align-items: center;
      }
    }
  }

  .menu-item {
    background-color: transparent;
    padding: 10px;

    &:hover,
    &:focus,
    &.active {
      background-color: $light-blue;
    }
  }
}
