#project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $break-for-lg) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  > a {
    margin-right: 0px;
    box-sizing: border-box;
    @media (min-width: $break-for-lg) {
      margin-right: 10px;
    }
  }

  > div {
    margin: 0px;
    box-sizing: border-box;
    @media (min-width: $break-for-lg) {
      margin-left: 10px;
    }
  }

  .project-image {
    height: 250px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  .technology-image {
    height: 50px;
    margin: 0 5px;
  }

  h2 {
    // margin-bottom: 0.25em;
  }
}
