#projects {
  width: 100%;
}

.projects-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 15px;

    &:hover img,
    &:focus img {
      opacity: 0.6;
    }

    img {
      height: 300px;
      width: 300px;
      border: 1px solid rgba($grey, 0.25);
      border-radius: 5px;
      margin-bottom: 5px;

      @media screen and (min-width: 832px) {
        height: 250px;
        width: 250px;
      }
    }
  }
}
