@font-face {
  font-family: DroidSans;
  src: url("../../fonts/DroidSans.ttf");
}

@font-face {
  font-family: DroidSans;
  src: url("../../fonts/DroidSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

body,
.droid {
  font-family: DroidSans, Helvetica, Arial, sans-serif;
}

.mont {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

<<<<<<< HEAD
p.bold,
span.bold,
a.bold {
=======
.bitter {
  font-family: Bitter, Helvetica, Arial, sans-serif;
}

.bold {
>>>>>>> 9aa3f1b2127b1e62c332d52a81f35fc034c23218
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.grey {
  color: $grey;
}

a {
  text-decoration: none;
  color: $primaryText;
  display: inline-block;
}

a:hover,
a.inline-link:hover,
a:focus,
a.inline-link:focus {
  color: $blue;

  svg path {
    fill: $blue;
  }
}

a.active {
  color: $primaryLink;
}

.upper {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 400;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.75em;
}

p {
  margin: 0 0 0.5em 0;
}

p,
ul {
  font-size: 1rem;
}

h1.light-black,
h2.light-black,
h3.light-black,
h4.light-black,
h5.light-black,
h6.light-black,
p.light-black,
span.light-black {
  color: $light-black;
}

h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black,
p.black,
span.black {
  color: $black;
}
