$black: #333333;
$light-black: #3a4145;
$blue: #00a0e3;
$light-blue: rgba($blue, 0.05);
$grey: #aaa;
$tan: #ebebeb;
$light-tan: rgba($tan, 0.95);

$primaryText: $black;
$primaryLink: $blue;
$background: $tan;
