@font-face {
    font-family: droid-bold;
    src: url("../../fonts/DroidSans-Bold.ttf");
}

@font-face {
    font-family: droid-reg;
    src: url("../../fonts/DroidSans.ttf");
}

body {
	font-family:  droid-reg,Helvetica,Arial,sans-serif;
	margin-top: 10px;
	background-color: #ebebeb;
	/*background-color: #e6e6dc;*/
}

a {
	text-decoration: none;
	color: #333;
}

a:hover, a.inline-link:hover,
a:focus, a.inline-link:focus {
	color: #85cfac;
	/*color: #81a594;*/

	svg path {
		fill: #85cfac;
	}
}

a.active {
	color: #00a0e3;
	/*color: #00628b;*/
}


h2 {
	margin-bottom: 5px;
}

.droid-bold {
	font-family: droid-bold, Helvetica, Arial, sans-serif;
}

.droid-reg {
	font-family: droid-reg, Helvetica, Arial, sans-serif;
}

.text-center {
	text-align: center;
}