.nav-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 0;

  #navBar {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        display: inline-block;
        padding: 0 10px;
      }
    }

    .home-link {
      font-size: 48px;
      line-height: 1;
    }

    .menu-link {
      font-size: 34px;
    }
  }
}
