.nav-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        -webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        -webkit-flex: 1;
	        flex: 1;
	margin: 0 0;

    #navBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                -webkit-flex: 1;
                flex: 1;
        align-items: center;

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                padding: 0 10px;
            }
        }

        .home-link {
            font-size: 48px;
            line-height: 1;
        }

        .menu-link {
            font-size: 34px;
        }
    }
}