@font-face {
    font-family: droid-bold;
    src: url("./fonts/DroidSans-Bold.ttf");
}
@font-face {
    font-family: droid-reg;
    src: url("./fonts/DroidSans.ttf");
}

body {
	font-family:  droid-reg,Helvetica,Arial,sans-serif;
	margin: 0px;
	background-color: #E6E6DC;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #81A594;
}

a.active {
	color: #00628B;
}

.droid-bold {
	font-family: droid-bold,Helvetica,Arial,sans-serif;
}

.droid-reg {
	font-family: droid-reg,Helvetica,Arial,sans-serif;
}

.text-center {
	text-align: center;
}

.navBarContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.home-link {
	font-size: 48px;
}

#navBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.content-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

#navBar ul {
	list-style-type: none;
	margin: 0px;
}

#navBar ul li {
	display: inline-block;
	padding: 0 10px;
}

.menu-link {
	font-size: 34px;
}

.about-container {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}

.projects-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 960px;
	margin: 0 auto;
	height: 500px;
}

.projects-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
}

.projects-text-container h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.projects-text-container p {

}

.projects-icon-list-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5px 10px;
}

.project-card.active {
	opacity: 0.8;
}