@font-face {
    font-family: droid-bold;
    src: url("./fonts/DroidSans-Bold.ttf");
}
@font-face {
    font-family: droid-reg;
    src: url("./fonts/DroidSans.ttf");
}

body {
	font-family:  droid-reg,Helvetica,Arial,sans-serif;
	margin-top: 10px;
	background-color: #ebebeb;
	/*background-color: #e6e6dc;*/
}

a {
	text-decoration: none;
	color: #333;
}

a:hover, a.inline-link:hover {
	color: #85cfac;
	/*color: #81a594;*/
}

a.active {
	color: #00a0e3;
	/*color: #00628b;*/
}


h2 {
	margin-bottom: 5px;
}
.droid-bold {
	font-family: droid-bold,Helvetica,Arial,sans-serif;
}

.droid-reg {
	font-family: droid-reg,Helvetica,Arial,sans-serif;
}

.text-center {
	text-align: center;
}

.nav-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        -webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        -webkit-flex: 1;
	        flex: 1;
	margin: 0 0;
}

.home-link {
	font-size: 48px;
}

#navBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        -webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        -webkit-flex: 1;
	        flex: 1;
}

.content-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

#navBar ul {
	list-style-type: none;
	margin: 0px;
}

#navBar ul li {
	display: inline-block;
	padding: 0 10px;
}

.menu-link {
	font-size: 34px;
}

.home-container {
	display: block;
	max-width: 960px;
	width:60%;
	margin: 30px auto 100px;
}

.home-container .home-header {
	font-size: 28px;
	margin-bottom: 0px;
}

.projects-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 960px;
	margin: 30px auto 100px;
}

.projects-text-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 50%;
}

.projects-text-container h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.projects-text-container p {

}

.projects-icon-list-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.project-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 10px 15px;
}

.project-card:hover img {
	opacity: 0.6;
}

.project-specific-container {
	max-width: 960px;
	margin: 30px auto 100px;
}

.project-specific-container .specific {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}

.project-specific-container .specific .specific-image {
	height: 300px;
	width: 300px;
}

.project-specific-container .specific div {
	margin: 0 10px;
}

.project-specific-container .specific .right {
	flex: 1;
}

.project-specific-container .specific .project-title {
	font-size: 30px;
}

.project-specific-container .specific .project-description {
	
}

.project-specific-container .specific .technology-image {
	height: 50px;
	margin: 0 5px;
}

.footer-container {
	background-color: rgba(235,235,235,0.95);
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.footer-container .footer-image {
	height: 60px;
	width: 60px;
	margin: 10px;
}